<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-4">Edit playground stuff</h2>

<%= render 'form', playground_stuff: @playground_stuff %>

<br>
<%= link_to '< Playground stuff', playground_stuffs_path %>

    </div>
  </div>
</div>
