<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit checkpoint</h2>

<%= render 'form', checkpoint: @checkpoint %>

<br>
<%= link_to 'Show', @checkpoint %> |
<%= link_to 'All checkpoints', checkpoints_path %>

    </div>
  </div>
</div>
