<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New checkpoint</h2>

<%= render 'form', checkpoint: @checkpoint %>

<br>
<%= link_to '< All checkpoints', checkpoints_path %>

    </div>
  </div>
</div>
