<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New checkpoint</h2>

<%= render 'form', checkpoint: @checkpoint %>

<!-- nav: breadcrumbs -->
<% bc1 = ['All checkpoints', checkpoints_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'New checkpoint', crumbs: bc1 %>

    </div>
  </div>
</div>
