<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit student</h2>

<%= render 'form', student: @student %>

<br>
<%= link_to 'Show', @student %> | <%= link_to 'All students', students_path %>

    </div>
  </div>
</div>
