<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New student</h2>

<%= render 'form', student: @student %>

<!-- nav: breadcrumbs -->
<% bc1 = ['All students', students_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'New student', crumbs: bc1 %>

    </div>
  </div>
</div>
