<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New student</h2>

<%= render 'form', student: @student %>

<br>
<%= link_to '< All students', students_path %>
<br>
<%= link_to '< Home', users_path %>

    </div>
  </div>
</div>
