<div class="container">
  <div class="row mt-5">
    <div class="col">

<p id="notice"><%= notice %></p>

<h2 class="mb-3">Chart fun</h2>

<p>
Hey Bill - insert chart.js example here.
</p>

<br>
<%= link_to '< Index', users_path %>

    </div>
  </div>
</div>
