<div class="container">
  <div class="row mt-5">
    <div class="col">


<h2 class="mb-3">
  Edit User

  <small class="float-right">
    <!-- Edit User is where life events can be added to an existing user -->
    <%= link_to '+ New life event', new_user_life_event_path(@user),
                class: "btn btn-outline-success float-right mt-2 mr-2" %>
  </small>
</h2>

<%= render 'form', user: @user %>

<p class="mt-4">
  <%= link_to 'Home', root_path %>
  <i class="fa fa-angle-double-left text-muted px-2"></i>
  <%= link_to 'All users', users_path %>
</p>

    </div>
  </div>
</div>
