<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-8">

<span id="notice" class="float-right"><%= notice %></span>

<h1>Import CSV</h1>
<div id="import-csv-div">
  <%= render 'ajax_import_csv1' %>
</div>

<div class="mt-5">
  <%= link_to '< Index', users_path %>
</div>

    </div>
  </div>
</div>
