<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New User</h2>

<%= render 'form', user: @user %>

<br>
<%= link_to '< All users', users_path %>

    </div>
  </div>
</div>
