<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New User</h2>

<%= render 'form', user: @user %>

<!-- nav: breadcrumbs -->
<% bc1 = ['All users', users_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'New user', crumbs: bc1 %>

    </div>
  </div>
</div>
