<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">Edit Life event</h2>

<%= render 'form', life_event: @life_event %>

<div class="text-right">
  <%= link_to '- Destroy', @life_event, method: :delete,
              class: "mr-3 btn btn-outline-danger",
              data: { confirm: 'Are you sure?' } %>
</div>

<br>
<%= link_to '< All life events', life_events_path %>

    </div>
  </div>
</div>
