<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New Life event</h2>

<%= render 'form', life_event: @life_event %>

<br>
<%= link_to '< Home', root_path %>

    </div>
  </div>
</div>
