<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit school</h2>

<%= render 'form', school: @school %>

<br>
<%= link_to 'Show', @school %> | <%= link_to 'All schools', schools_path %>

    </div>
  </div>
</div>
