<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit school</h2>

<%= render 'form', school: @school %>

<!-- nav: breadcrumbs -->
<% bc1 = ['All schools', schools_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'Edit school', crumbs: bc1 %>

    </div>
  </div>
</div>
