<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New school</h2>

<%= render 'form', school: @school %>

<br>
<%= link_to '< All schools', schools_path %>
<br>
<%= link_to '< Home', schools_path %>

    </div>
  </div>
</div>
