<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit goal step</h2>

<%= render 'form', goal_step: @goal_step %>

<br>
<%= link_to 'Show', @goal_step %> |
<%= link_to 'All goal steps', goal_steps_path %>

    </div>
  </div>
</div>
