<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New goal step</h2>

<%= render 'form', goal_step: @goal_step %>

<br>
<%= link_to '< All goal steps', goal_steps_path %>

    </div>
  </div>
</div>
