<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New goal step</h2>

<%= render 'form', goal_step: @goal_step %>

<!-- nav: breadcrumbs -->
<% bc1 = ['All goal steps', goal_steps_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'New goal step', crumbs: bc1 %>

    </div>
  </div>
</div>
