<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit goal</h2>

<%= render 'form', goal: @goal %>

<br>
<%= link_to 'Show', @goal %> |
<%= link_to 'All goals', goals_path %>

    </div>
  </div>
</div>
