<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2>Edit goal</h2>

<%= render 'form', goal: @goal %>

<!-- nav: breadcrumbs -->
<% bc1 = ['All goals', goals_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'Edit goal', crumbs: bc1 %>

    </div>
  </div>
</div>
