<div class="container">
  <div class="row mt-5">
    <div class="col">

<h2 class="mb-3">New goal</h2>

<%= render 'form', goal: @goal %>

<br>
<%= link_to '< All goals', goals_path %>

    </div>
  </div>
</div>
