<div class="container">
  <div class="row mt-5">
    <div class="col">

<p id="notice"><%= notice %></p>

<h3 class="mb-3">Show goal</h3>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<!-- nav: breadcrumbs -->
<% bc1 = ['All goals', goals_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'Show goal', crumbs: bc1 %>

    </div>
  </div>
</div>
